.themeButtonWrapper{
    display: grid;
    grid-auto-flow: row;
    width: fit-content;
}

.themeButton{
    border-radius: 5px;
    background: var(--theme-default-whitePart);
    height: fit-content;
    padding: 5px;
    align-self: center;
    color: var(--theme-default-blackText);
}