header {
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 135px;
    align-content: center;
}

.header_wrapper {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo {
    max-width: 8.333rem;
    max-height: 34px;
    margin-right: 60px;
    margin-bottom: 9px;
}

nav {
    grid-column: 2/3;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 430px;
    margin-bottom: 3px;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    text-decoration-line: underline;
    color: rgb(179, 116, 87);
}

.icons_list {
    grid-column: 3/4;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-end;
    justify-self: right;
    margin-left: 20px;
}

.icon {
    background-image: url(img/img_1screen/nav/icons.png);
    width: 2.5rem;
    height: 77px;
    margin-top: -106px;
    margin-bottom: -8px;
    padding-top: 4px;
    transition: transform 0.5s;
    align-self: center;
    margin-left: 12px;
    color: #CB8D62;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    background-position: -5px 7px;
}

.user {
    background-position: -75px 7px;
}


.shopping-cart {
    background-position: -145px 7px;
}

.heart:hover,
.user:hover,
.shopping-cart:hover {
    transform: translate(0, -10%);
    -webkit-transform: translate(0, -10%);
    -o-transform: translate(0, -10%);
    -moz-transform: translate(0, -10%);
}

.nav_mobail {
    position: absolute;
    top: 27px;
    right: 0;
    display: none;
}