/*.slide-flex-wrapper{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto Serif";
    height: 100%;
    
}

#btn_prev, #btn_next{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 4.531rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.btn_img{
    max-width: 100%;
}

#btn_prev img, #btn_next img{
    
}

.slider{
    width: 72.916rem;
    display: flex;
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
}

h1{
    font-family: "Roboto Serif";
    font-size: 6.5vw;
    font-weight: 500;
    margin-bottom: 0;
}

.sider_text{
    /*max-width: 34.375rem;*/
    /*flex-shrink: 3;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.line_1{
    width: 50vw;
    object-fit: cover;
}

.diskription_slider_img{
    /*font-family: "Roboto Serif";*/
    /*font-size: 2.604rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.prise_slider_img{
    display: flex;
    justify-content: space-between;
    max-width: 16.9rem;
    font-size: 1.563rem;
}

.prise{
    font-weight: 100;
}

button{
    width: 16.9rem;
    height: 2.604rem;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    border: 0;
}

.img_container{
    position: relative;
    /*width: 460px;*/
   /* display: flex;
    flex-shrink: 3;
    flex-grow: 3;
}

.slide_img{
    height: 100%;
    width: 100%;
    position: absolute;*/
   /*/* object-fit: cover;
    object-position: center;
    z-index: 2;
    /*flex-shrink: 5;*/
    
/*}


/*.copper_pro{
    /*position: relative;*/
    /*text-align: end;
    z-index: 1;
    font-size: 8vw;
    margin: 0;
    padding: 0;
    /*font-family: "Roboto Serif";*/
    font-weight: 100;
    line-height: 0.75;
}