@media (min-width: 768px) and (max-width: 991px){

    header{
        grid-template-rows: 1fr 0.5fr 10fr;
        height: 900px;
    }

    nav{
        grid-column: 2/6;
        grid-row: 2/3;
        justify-self: center;
        justify-content: space-around;
        min-width: 100%;
        margin-top: 20px;
    }

    .btn_next, .btn_prew{
        display: none;
    }
    
    h1{
        font-size: 4.5rem;
        margin-top: 161px;
    }
    
    .line {
        max-width: 80%;
    }
    .product_name_fs{
        font-size: 44px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    header{

        grid-template-rows: 1fr 0.5fr 10fr;
        /*height: 560px;*/
    }

    .btn_next, .btn_prew{
        display: none;
    }

    nav{
        grid-column: 2/6;
        grid-row: 2/3;
        justify-self: center;
        justify-content: space-around;
        min-width: 100%;
        margin-top: 20px;
    }
    
    h1{
        font-size: 3rem;
        margin-top: 161px;
    }
    
    .line {
        max-width: 80%;
    }
    .product_name_fs{
        font-size: 30px;
    }

    .prise{
        font-size: 20px;
    }

    button{
        width: 185px;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    header{
        max-height: 550px;
        grid-template-rows: 1fr 0.5fr 10fr;
    }

    .logo img{
        max-width: 7rem;
    }

    nav{
        display: none;
    }
    
    .btn_next, .btn_prew{
        display: none;
    }

    .icons_list{
        justify-items: right;
    margin-left: -115px;
    }

    #heart{
        display: none;
    }

    #shopping-cart::after{
        content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black;
    }

    .icon{
        width: 2rem;
        margin-left: 12px;
    }
    
    h1{
        font-size: 2.3rem;
        margin-top: 60px;
    }
    
    .line {
        max-width: 80%;
    }
    .product_name_fs{
        font-size: 20px;
    }

    .prise{
        font-size: 15px;
        margin-top: 25px;
    }

    .prise span{
        margin-right: 39px;
    }

    button{
        width: 130px;
        margin-top: 30px;
    }

    .slider_img{
        right: 0;
        grid-column: 3/-1;
        max-width: none;
        max-height: 65%;
    }

    .user {
        background-position: -79px 7px;
    }

    .shopping-cart {
        background-position: -149px 7px;
    }
}