@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);

html, body{
    max-width: 100%;
    margin: 0;
    height: 100%;
   
}

.wrapper{
    min-height: 1920px;
    display: flex;
    flex-direction: column;
}

/*Секция о проекте*/
h1{
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

.deskription{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Первый экран*/

.first-screen{
    height: 700px;
    background-image: url(img/img_1screen/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

header{
    max-width: 1100px;
    margin: 0 auto;
}
nav{
    display: flex;
    max-width: 1350px;
    justify-content: space-between;
    margin-top: 35px;
}

/*Первый екран/список навигации*/

.logo a img{
    margin-bottom: -18px;
    max-width: 129px;
    max-height: 34px;
}

[class*="_list"]{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.nav_list{
    width: 27rem;
    padding-left: 0px;
    padding-bottom: 8px;
    margin: 0 auto;
    align-items: flex-end;
    position: relative;
    left: -14%;
    font-family: "PT+Sans";
    font-size: 14px;
    letter-spacing: 1px;
}

nav a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;  
}
a:hover{
    text-decoration-line: underline;
    color: rgba(94, 57, 40, 1);
    font-weight: bold;
}

/*Список иконок навигации*/

.nav_icons_list{
    width: 9rem;
    position: relative;
    bottom: 10px;
}

.nav_icons{
    min-width: 40px;
    min-height: 83px;
    background-image: url(img/img_1screen/nav/icons.png);
    margin-top: -44px;
    transition: transform 0.5s;
}

.heart{
    background-position: -5px 0;
}

.user{
    background-position: -75px 0;
}

.shopping-cart{
    background-position: -145px 0;
}

.heart:hover, .user:hover, .shopping-cart:hover{
    transform: translate(0,-20%);
    -webkit-transform: translate(0,-20%); 
    -o-transform: translate(0,-20%); 
    -moz-transform: translate(0,-20%);

}

/*Слайдер первого экрана*/



.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 44px -10px rgba(0,0,0,0.75);
}

#btn-prev, #btn-next {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    min-height: 100%;
    display: flex;
    align-items: center;
}

#btn-prev:hover, #btn-next:hover {
    /*opacity: 0.6;*/
}


#btn-next {
    left: auto;
    right: 0;
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    /*display: block;*/
}

img {
    width: 100%;
    height: 100%;
}


/*Основное содержание*/
main{
    flex: 1 1 auto;
}

footer{
    background-color: seagreen;
    max-height: 300px;
    display: flex;
    justify-content: space-around;
}



