.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 31px auto;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 486px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  width: 284px;
  margin: 14px auto 0;
}

.u-section-2 .u-image-1 {
  width: 296px;
  height: 296px;
  background-image: url("images/2ab50e23ef7f766e7278be7375873cb443b587eedf6e1cb738bc4807f6b1864a46a2ddf6331233ead19211793f377d1a023610bee68365794df6e5_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 36px;
}

.u-section-2 .u-text-2 {
  margin: -249px 486px 0 437px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -29px 703px 0 368px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2;
  margin: 22px 38px 60px 437px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 168px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -555px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -201px;
    margin-right: 386px;
    margin-left: 337px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 175px;
    margin-right: 603px;
    margin-left: 268px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -231px;
    margin-right: 470px;
    margin-left: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 9.375rem;
    margin-top: -192px;
    margin-left: 237px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -441px;
    margin-right: 276px;
    margin-left: 227px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 55px;
    margin-right: 493px;
    margin-left: 158px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
    margin-right: 250px;
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 57px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 186px;
    margin-left: 137px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -25px;
    margin-right: 403px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 89px;
    margin-right: 70px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 6rem;
    margin-top: 300px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -435px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -361px;
    margin-left: 37px;
    margin-right: 86px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -18px;
    margin-right: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 49px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 632px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 633px;
  background-image: url("images/female-architect-with-construction-site-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 633px;
}

.u-section-3 .u-container-layout-2 {
  padding: 50px 40px 50px 45px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  font-size: 5rem;
  line-height: 0.8;
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-2 {
  margin: 39px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-3 .u-shape-1 {
  width: 90px;
  height: 90px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 521px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-image-1 {
    min-height: 440px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-image-1 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 489px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 30px 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-shape-1 {
    width: 68px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 752px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-image-1 {
    min-height: 562px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
    order: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-shape-1 {
    width: 82px;
    height: 82px;
    margin-top: 39px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 543px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 433px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-shape-1 {
    margin-bottom: 0;
  }
} .u-section-4 {
  min-height: 722px;
}

.u-section-4 .u-shape-1 {
  height: 173px;
  width: calc(((100% - 1140px) / 2) + 676px);
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -387px auto -155px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 632px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  height: 542px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 632px;
}

.u-section-4 .u-container-layout-2 {
  padding: 60px 0;
}

.u-section-4 .u-image-2 {
  height: 422px;
  object-position: 100% 50%;
  width: 349px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 -87px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 632px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Mako;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 32px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 611px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 555px);
    margin-top: 52px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -340px;
    margin-bottom: -115px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-4 .u-image-1 {
    height: 447px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
    width: 294px;
    margin-top: 20px;
    margin-left: -81px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 521px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 618px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 434px);
    margin-top: 223px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -335px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 527px;
  }

  .u-section-4 .u-image-1 {
    height: 359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 264px;
    width: 229px;
    margin-top: 87px;
    margin-left: -72px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 518px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1741px;
  }

  .u-section-4 .u-shape-1 {
    height: 524px;
    width: 345px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -378px;
    margin-bottom: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 947px;
  }

  .u-section-4 .u-image-1 {
    height: 795px;
    margin-top: 4px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    height: 437px;
    width: 408px;
    margin-top: -236px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1223px;
  }

  .u-section-4 .u-shape-1 {
    height: 432px;
    width: 216px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-4 .u-image-1 {
    height: 500px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-4 .u-image-2 {
    height: 345px;
    width: 286px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 814px;
}

.u-section-5 .u-shape-1 {
  height: 440px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  width: 526px;
  font-family: Mako;
  font-weight: 400;
  margin: -377px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 28px auto 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 375px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 305px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-family: Mako;
  margin: 28px 257px 0 0;
}

.u-section-5 .u-text-4 {
  margin: -39px 0 0 91px;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 28px auto 0 91px;
  padding: 5px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 305px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-family: Mako;
  margin: 28px 257px 0 0;
}

.u-section-5 .u-text-6 {
  margin: -39px 0 0 91px;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 28px auto 0 91px;
  padding: 5px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 305px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-family: Mako;
  margin: 28px 257px 0 0;
}

.u-section-5 .u-text-8 {
  margin: -39px 0 0 91px;
}

.u-section-5 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 28px auto 0 91px;
  padding: 5px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 789px;
  }

  .u-section-5 .u-shape-1 {
    height: 421px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: -358px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-image-1 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 57px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-right: 57px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    height: 241px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 57px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 57px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 138px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1229px;
}

.u-section-6 .u-shape-1 {
  width: 259px;
  height: 284px;
  margin: 204px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 856px;
  height: 579px;
  margin: -127px 96px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 600px;
  min-height: 368px;
  background-image: none;
  margin: -888px auto 0 35px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-shape-2 {
  width: 80px;
  height: 24px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-6 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-shape-3 {
  width: 186px;
  height: 186px;
  margin: 394px auto 0 96px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 618px;
  margin: -170px 0 52px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-top: 7px;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-6 .u-text-5 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  padding: 0;
}

.u-section-6 .u-image-2 {
  min-height: 314px;
  background-image: url("images/brown-high-skyscrapers_181624-4638.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-top: 52px;
    margin-right: 681px;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 726px;
    height: 558px;
    margin-right: 52px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -867px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 366px;
    margin-right: 681px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -142px;
    margin-bottom: -100px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 598px;
    height: 528px;
    margin-top: -74px;
    margin-right: 32px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -890px;
  }

  .u-section-6 .u-shape-3 {
    width: 170px;
    height: 170px;
    margin-top: 217px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 538px;
    margin-top: 44px;
    margin-bottom: -92px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 4px;
  }

  .u-section-6 .u-btn-3 {
    margin-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    min-height: 307px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1710px;
  }

  .u-section-6 .u-image-1 {
    width: 429px;
    height: 568px;
    margin-top: -165px;
    margin-right: 0;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    min-height: 417px;
    margin-top: -922px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-6 .u-shape-3 {
    width: 143px;
    height: 143px;
    margin-top: 219px;
    margin-left: 38px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 353px;
    margin-top: 84px;
    margin-right: 38px;
    margin-bottom: -175px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-image-2 {
    min-height: 466px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 50px;
  }

  .u-section-6 .u-image-1 {
    width: 302px;
    height: 425px;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-6 .u-group-1 {
    width: 300px;
    min-height: 498px;
    margin-top: -890px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 291px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 302px;
    margin: 38px auto -296px 38px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    min-height: 368px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 564px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 502px;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  width: 502px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 31px auto 0 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 280px;
}

.u-section-7 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 280px;
  background-position: 0% 0%;
}

.u-section-7 .u-container-layout-2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 231px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 231px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 1055px;
}

.u-section-8 .u-shape-1 {
  height: 628px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-family: Mako;
  font-weight: 400;
  margin: -565px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 53px auto 58px;
}

.u-section-8 .u-image-1 {
  min-height: 523px;
  background-image: url("images/hhh.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 844px;
}

.u-section-8 .u-container-layout-3 {
  padding: 80px 0 0;
}

.u-section-8 .u-image-2 {
  height: 632px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 30px auto 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 941px;
  }

  .u-section-8 .u-shape-1 {
    height: 510px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: -442px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-image-1 {
    min-height: 431px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 696px;
  }

  .u-section-8 .u-image-2 {
    height: 521px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 2221px;
  }

  .u-section-8 .u-shape-1 {
    height: 825px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -742px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 71px;
    margin-bottom: 70px;
  }

  .u-section-8 .u-image-1 {
    min-height: 792px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-8 .u-image-2 {
    height: 798px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1719px;
  }

  .u-section-8 .u-shape-1 {
    height: 529px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -452px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -358px;
  }

  .u-section-8 .u-image-1 {
    min-height: 495px;
  }

  .u-section-8 .u-image-2 {
    height: 599px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1432px;
  }

  .u-section-8 .u-shape-1 {
    height: 490px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.75rem;
    margin-top: -430px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 51px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-image-1 {
    min-height: 472px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-image-2 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-9 {
  background-image: none;
  min-height: 1327px;
}

.u-section-9 .u-text-1 {
  width: 379px;
  font-size: 3rem;
  margin: 59px auto 0;
}

.u-section-9 .u-group-1 {
  min-height: 406px;
  margin: 249px auto 0 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: -604px auto 60px;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 319px;
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 10px 31px;
}

.u-section-9 .u-image-1 {
  background-image: url("images/flat-lay-person-working-architectural-project_23-2148540137.jpg");
  min-height: 319px;
  background-position: 50% 50%;
}

.u-section-9 .u-image-2 {
  background-image: url("images/close-up-modern-office-buildings-shanghai_1359-796.jpg");
  min-height: 340px;
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 340px;
  background-image: none;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-9 .u-image-3 {
  min-height: 340px;
  background-image: url("images/low-angle-shot-corner-high-business-building_181624-1472.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-image-4 {
  min-height: 383px;
  background-image: url("images/architects-hold-building-plan-check-work_1150-24337.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-7 {
  min-height: 383px;
  background-image: none;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0;
}

.u-section-9 .u-text-6 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

.u-section-9 .u-btn-3 {
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 1144px;
  }

  .u-section-9 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-9 .u-image-1 {
    min-height: 263px;
  }

  .u-section-9 .u-image-2 {
    min-height: 280px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 280px;
  }

  .u-section-9 .u-image-3 {
    min-height: 280px;
  }

  .u-section-9 .u-image-4 {
    min-height: 316px;
  }

  .u-section-9 .u-layout-cell-7 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 942px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 201px;
  }

  .u-section-9 .u-image-2 {
    min-height: 214px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-9 .u-image-3 {
    min-height: 214px;
  }

  .u-section-9 .u-image-4 {
    min-height: 242px;
  }

  .u-section-9 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 2114px;
  }

  .u-section-9 .u-group-1 {
    min-height: 944px;
    margin-top: 492px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1366px;
  }

  .u-section-9 .u-image-1 {
    min-height: 302px;
  }

  .u-section-9 .u-image-2 {
    min-height: 482px;
  }

  .u-section-9 .u-image-3 {
    min-height: 482px;
  }

  .u-section-9 .u-image-4 {
    min-height: 363px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1510px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 2.5rem;
  }

  .u-section-9 .u-group-1 {
    min-height: 571px;
    margin-top: 678px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1179px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-image-1 {
    min-height: 190px;
  }

  .u-section-9 .u-image-2 {
    min-height: 303px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-image-3 {
    min-height: 303px;
  }

  .u-section-9 .u-image-4 {
    min-height: 229px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-10 {
  min-height: 656px;
}

.u-section-10 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 155px);
  min-height: 656px;
  margin: 0 0 0 auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 0 auto;
}

.u-section-10 .u-icon-1 {
  height: 100%;
}

.u-section-10 .u-icon-2 {
  height: 100%;
}

.u-section-10 .u-icon-3 {
  height: 100%;
}

.u-section-10 .u-icon-4 {
  height: 100%;
}

.u-section-10 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -596px 0 60px auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
}

.u-section-10 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-10 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-form-group-1 {
  width: 100%;
}

.u-section-10 .u-form-group-2 {
  width: 100%;
}

.u-section-10 .u-form-group-3 {
  width: 100%;
}

.u-section-10 .u-form-group-4 {
  width: 100%;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 468px;
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-10 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-10 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-10 .u-icon-7 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-10 .u-text-5 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 642px;
  }

  .u-section-10 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 155px);
    min-height: 642px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-10 .u-social-icons-1 {
    height: 28px;
    width: 144px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: -582px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 386px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 484px;
  }

  .u-section-10 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 155px);
    min-height: 667px;
  }

  .u-section-10 .u-social-icons-1 {
    height: 26px;
    width: 136px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-top: -607px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1080px;
  }

  .u-section-10 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 155px);
    min-height: 1080px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-social-icons-1 {
    width: 135px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: -1020px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 155px);
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }
}