@font-face {
    font-family: 'fontb7ae0d38a8eb699e0938a474bf8e0aa5';
        
        src:    url('https://nomail.com.ua/files/eot/b7ae0d38a8eb699e0938a474bf8e0aa5.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/b7ae0d38a8eb699e0938a474bf8e0aa5.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/b7ae0d38a8eb699e0938a474bf8e0aa5.woff2') format('woff2');
    }

@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@import url(https://fonts.googleapis.com/css?family=El+Messiri:regular);

html, body{
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

h1, h2, h3, h4, h5, h6{
    font-family: "El+Messiri";
}

header{
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 135px;
    align-content: center;
}

.header_wrapper{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.logo{
    max-width: 8.333rem;
    max-height: 34px;
    margin-right: 60px;
    margin-bottom: 9px;
}

nav{
    grid-column: 2/3;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 430px;
    margin-bottom: 3px;
}

a{
    color: rgba(255, 255, 255, 1);
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover{
    text-decoration-line: underline;
    color: rgb(179, 116, 87);
}

.icons_list{
    grid-column: 3/4;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-end;
    justify-self: right;
    margin-left: 20px;
}

.icon{
    background-image: url(\\img/img_1screen/nav/icons.png);
    width: 2.5rem;
    height: 77px;
    margin-top: -106px;
    margin-bottom: -8px;
    padding-top: 4px;
    transition: transform 0.5s;
    align-self: center;
    margin-left: 12px;
    color: #CB8D62;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart{
    background-position: -5px 7px;
}

.user{
    background-position: -75px 7px;
}


.shopping-cart{
    background-position: -145px 7px;
}

.heart:hover, .user:hover, .shopping-cart:hover{
    transform: translate(0,-10%);
    -webkit-transform: translate(0,-10%); 
    -o-transform: translate(0,-10%); 
    -moz-transform: translate(0,-10%);
}

.nav_mobail{
    position: absolute;
    top: 27px;
    right: 0;
    display: none;
}

/*MAIN*/

main{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.wrapper{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h1{
    grid-column: 1/4;
    margin: 70px 0;
}

.tab{
    grid-column: 1/2;
}

button{
    text-decoration: none;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 20px;
    align-items: center;
    padding-left: 15px;
    font-size: inherit;
    background: linear-gradient(285.45deg, #0B3F37 30.27%, #CB8D62 115.81%);
    width: 250px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.tab_btn{
    margin-right: 70px;
}

.tab_btn.active{
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.tab .btn_out{
    background: #FFFFFF;
    border: none;
    font-weight: 700;
    padding: 0;
    color: black;
    width: auto;
}

.content{
    grid-column: 2/4;
    display: none;
}

.content.active{
    display: block;
}

.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #8f8f8f;
    background-image: url(\\img/person_icon/details.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.person{
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 22px;
    justify-content: left;
    gap: 20px;
}

.information{
    max-width: 528px;
}

input{
    width: 241px;
    height: 36px;
    padding: 0;
    padding-left: 5px;
    margin: 0px 12px 20px 0;
    display: inline-block;
    outline: none;
}
/*пароль*/
#user_password{
    border: none;
    width: 203px;
    margin: 0px 12px 0px 0px;
}

.password_div{
    height: 36px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 2px;
    margin: 0px 12px 20px 0px;
    padding-right: 10px;
    display: inline-block;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
}

.password_svg{
    cursor: pointer;
    opacity: 0.5;
}

.look_click{
    opacity: 0.9;
}

/*пароль*/

.carddate_cvv{
    display: inline-block;
}

.input_datetime, .input_cvv{
    width: 108px;
}

.save{
    justify-content: center;
    padding: 0;
}

.change_password, .save{
    margin-right: 12px;
}

/*ЗАКАЗЫ*/

.content_orders{
    min-width: 100%;
    margin-left: -45px;
    min-height: 100%;
}

.order_inform, .name_columns{
    display: grid;
    grid-template-columns: 4fr repeat(4, 1fr) 0.5fr;
    column-gap: 20px;
    align-items: center;
}

.name_columns{
color: #A1A1A1;
}

.photo_name{
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
}

.photo_name img{
    width: 70px;
    align-self: center;
}

.content_orders svg{
    justify-self: right;
    align-self: flex-start;
}

hr{
    opacity: 0.2;
}

.sent{
    color: #029281;
    ;
}
.received{
    color: #025E92;
}
.expected{
    color: #7E9202;
}
.rejected{
    color: #920202;
}

/*СПИСОК ЖЕЛАЕМОГО*/

.content_like{
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: -50px;
}

article a{
    display: block;
    height: 100%;
}

article{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

article img{
    max-width: 100%;
}

.like{
    position: absolute;
    right: 0;
    top: 0;
    width: 4vw;
    height: 5vw;
}

.cart_p{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1vw;
    color: #000000;
}

.cart_p_prise{
    font-weight: 600;
    font-size: 1.4vw;
}

.page_number{
    grid-column: 1/-1;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
    justify-content: center;

}

.page_number div{
    width: 20px;
    height: 25px;
    border: 2px solid #A1A1A1;
    text-align: center;
    display: grid;
    align-items: center;
    cursor: pointer;
}

.page_number div.active{
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    border: none;
    width: 24px;
    height: 29px;
}

/*ФУТЕР*/

footer{
    background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
    background-repeat: no-repeat;
    min-height: 100%;
    color: #dfdede;
    margin-top: 100px;
    padding: 20px 0px;
    font-family: 'fontb7ae0d38a8eb699e0938a474bf8e0aa5';
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.footer_wrapper{
    grid-column: 2/3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
    justify-content: left;
    align-items: center;
}

.footer_logo{
    font-size: small;
    min-width: 201px;
}

.footer_logo img{
    max-width: 150px;
}

.footer_group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    max-width: 460px;
    justify-self: right;
}

footer h3{
    font-size: 16px;
    font-weight: 800;
    color: #FFFFFF;
}

footer ul{
    list-style: none;
    padding: 0;
    font-size: 12px;
    line-height: 220.4%;
}

footer a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

.footer_contacts li{
    margin-bottom: 10px;
}

.socials{
    position: relative;
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social{
    max-width: 22px;
    min-height: 20px;
    background-image: url(\\img/footer/Group\ 82.svg);
    background-repeat: no-repeat;
}

.twitter{
    background-position: 1px 0px;
}

.facebook{
    background-position: -34px 0px;
}

.instagram{
    background-position: -64px 0px;
}

.up{
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    transform: rotate(90deg);
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 3/4;
    align-self: flex-end;
    justify-self: left;
    cursor: pointer;
    user-select: none;
    margin-bottom: 12px;
}

.up:hover{
    text-decoration: none;
}
