.bestSellingContainer{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow:hidden;
    z-index: 1;
    background: var(--theme-default-grayPart);
    color: var(--theme-default-blackText);
}

















