.wrapper{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin-top: 50px;
}

.biography_btn{
    align-self: end;
    justify-self: right;
    margin-top: 20px;
    width: auto;
    background: slategray;
}

.sort_born_btn{
    justify-self: right;
    margin-top: 20px;
    width: auto;
    height: auto;
    background: slategray;
}

.person_wrapper{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-content: center;
    justify-content: center;
}

.person_wrapper_active{
    border: 2px solid grey;
    background: rgb(204, 202, 202);
}
