.sliader{
    /*max-width: 1400px;*/
    grid-column: 2/3;
    grid-row: 2/3;
}

.sliderTrack{
    max-width: 1140px;
    display: flex;
    overflow: hidden;
}

.item{
    min-width: 365px;
    margin-right: 22px;
    transition: 0.8s;
    animation-name: example;
  animation-duration: 4s;
}