button{
    width: 250px;
    text-decoration: none;
    height: 40px;
    background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
    border: none;
    outline: none;
    font-size: 18px;
}

button:hover{
    cursor: pointer;
}