html, body{
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}

/*h1, h2, h3, h4, h5, h6{
  font-family: ;
}*/

h4{
  font-weight: lighter;
  margin: 0;
}

/*ОПИСАНИЕ*/



/*ПЕРВЫЙ ЭКРАН*/



/*НАША ПРОДУКЦИЯ*/




