.ThemeIconsWrapper{
    display: grid;
    grid-auto-flow: column;
}
.none{
    display: none;
}

.block{
    display: block;
}

.header_style_fs{
  grid-column: 1/-1;
  /*background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);*/
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  /*height: 135px;*/
  align-content: center;
  }

  .header_style{
    grid-column: 1/-1;
    background: var(--theme-default-green);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    height: 135px;
    align-content: flex-start;
    }

  .header_wrapper {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: flex-end;
}

.logo {
    max-width: 8.333rem;
    max-height: 34px;
    margin-right: 60px;
    margin-bottom: 9px;
    grid-column: 1/2;
}

nav {
    grid-column: 2/3;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 430px;
    margin-bottom: 3px;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    text-decoration-line: underline;
    color: rgb(179, 116, 87);
}

.icons_list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-end;
    justify-self: right;
    margin-left: 20px;
}

.icon {
    background-image: url(../../img/icons/icons.png);
    width: 2.5rem;
    height: 84px;
    margin-top: 0;
    margin-bottom: 6px;
    padding-top: 0;
    transition: transform 0.5s;
    align-self: center;
    margin-left: 12px;
    color: #CB8D62;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    background-position: -5px 10px;
    color: rgb(61, 115, 91);
}

.user {
    background-position: -75px 10px;
}


.shopping_cart {
    background-position: -145px 10px;
}

.heart:hover,
.user:hover,
.shopping_cart:hover {
    transform: translate(0, -10%);
    -webkit-transform: translate(0, -10%);
    -o-transform: translate(0, -10%);
    -moz-transform: translate(0, -10%);
}

.nav_mobail {
    position: absolute;
    top: 27px;
    right: 0;
    display: none;
}

/*@MEDIA*/
@media (min-width: 480px) and (max-width: 991px){

  .header_wrapper{
      grid-template-rows: 2fr 1fr;

  }

  nav{
      grid-column: 1/-1;
      grid-row: 2/3;
      justify-self: center;
      min-width: 100%;
      justify-content: space-around;
  }
}

@media (min-width: 480px) and (max-width: 768px){
  header{
      grid-template-columns: 0.2fr 3fr 0.2fr;
  }
}

@media (min-width: 220px) and (max-width: 480px){

  header{
      grid-template-columns: 0.2fr 3fr 0.2fr;
      height: 100px;
  }
  
  .logo img{
      max-width: 7rem;
  }

  nav{
      display: none;
  }

  .icons_list{
      justify-items: right;
  margin-left: -115px;
  }

  #heart{
      display: none;
  }

  .icon{
      width: 2rem;
      margin-left: 12px;
  }

  .user {
      background-position: -80px 7px;
  }
  .shopping-cart{
  background-position: -149px 7px;
  }

  .nav_mobail{
      display: block;
  }
}
/*@MEDIA*/