.arrow-left-3,
.arrow-right-3{
    margin: 0px;
    width: 70px;
    height: 35px;
    cursor: pointer;
    border: 1px solid #ffff;
    border-right: none;
    grid-row: 2/3;
}
.arrow-left-3 path,
.arrow-right-3 path{
    fill: #ffff;
}
.arrow-left-3 {
    transform: rotate(180deg);
    grid-column: 1/2;
    justify-self: start;
}

.arrow-right-3{
    grid-column: 3/-1;
    justify-self: end;
}


.arrow-left-3:hover path, .arrow-right-3:hover path,
.arrow-right-3:hover, .arrow-left-3:hover{
    width: 72px;
    height: 37px;
    fill: rgb(255, 255, 255);
    border: none;
    background: linear-gradient(92.18deg, #E4A16F 20.13%, #5E3928 92.93%);
}