main{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    background: var(--theme-default-whitePart);
}

.container{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    row-gap: 20px;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow:hidden;
    z-index: 1;
}


.grey_container{
    background: #f1f1f1;
    /*margin-top: 70px;*/
}

article a{
    display: block;
    height: 100%;
}

main h2{
    text-align: center;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 1vw;
    margin-top: 3vw;
    font-size: 4vw;
    font-weight: 500;
}
/*SALE*/
.sale::after{
    content: 'sale';
    font-size: 1.4vw;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 0px 0px 0px;
    color: #FFFFFF;
    background: #9B0000;
    width: 5vw;
    height: 2vw;
    position: absolute;
    top: 20px;
}

.slider_w{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 0;
    grid-gap: 20px;
    overflow: hidden;
}

button{
    border: none;
    outline: none;
    background:none;
}